.workspace-leaf-content[data-type="cook"]{
  .view-content {
    font-family: inherit;
  }
  .cook-preview-view,
  .cook-source-view {
    // TODO base this on .is-readable-line-width when I can figure out how to read that
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .cook-preview-view-full,
  .cook-source-view-full {
    margin-left: auto;
    margin-right: auto;
  }

  .main-image {
    width: 100vw;
    aspect-ratio: 1.618;
    object-fit: cover;
  }

  .method-image {
    display: block;
    margin-top: 1em;
    max-width: 100%;
    max-height: calc(16vw);
  }

  ul.ingredients,
  ul.cookware,
  ul.timers {
    column-count: 2;
  }

  // Ingredient checklist styles
  ul.ingredients li.cook-ingredient {
    user-select: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    &.ingredient-checked {
      text-decoration: line-through !important;
      opacity: 0.5 !important;
    }
  }

  .cook-preview-view ul.metadata {
    padding-left: 0;
  }

  .cook-preview-view .metadata li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .cook-preview-view .metadata li .metadata-key {
    font-weight: 600;
    text-transform: capitalize;
    min-width: 5rem;
    display: inline-block;
  }

  ol.method {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    padding: 0;
  }

  ol.method>li {
    counter-increment: step-counter;
  }

  ol.method>li::before {
    content: "Step " counter(step-counter);
    font-weight: 600;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  span.timer,
  span.ingredient,
  span.cookware {
    font-weight: 600;
  }

  .cm-ingredient,
  .cm-cookware {
    color: var(--text-accent);
    font-weight: 600;
  }

  .cm-formatting {
    color: var(--text-faint);
  }

  .cm-measurement,
  .cm-timer,
  .cm-unit {
    color:var(--text-muted);
  }

  .cm-metadata,
  .cm-metadata-key {
    font-family: var(--font-monospace);
  }

  .cm-metadata-key {
    font-weight: 600;
  }

  .countdown {
    margin-left:12px;

    .resume-button + button + span {
      color: var(--text-faint);
    }

    .pause-button,
    .resume-button,
    .stop-button {
      font-size: 0;
      padding:6px;
    }

    .pause-button::before {
      --svg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'/><path d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/></svg>");
    }
    .resume-button::before {
      --svg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'/><path d='M8 5v14l11-7z'/></svg>");
    }
    .stop-button::before {
      --svg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'/><path d='M6 6h12v12H6z'/></svg>");
    }

    .pause-button::before,
    .resume-button::before,
    .stop-button::before {
      content: '';
      background-color: var(--text-normal);
      -webkit-mask: var(--svg);
      mask: var(--svg);
      -webkit-mask-size: cover;
      mask-size: cover;

      display: inline-block;
      height: 16px;
      width: 16px;
    }
  }

  // CodeMirror 6 styles
  .cm-editor {
    height: 100%;
    font-family: var(--font-monospace);
  }

  .cm-scroller {
    overflow: auto;
  }

  .cm-content {
    caret-color: var(--text-normal);
    padding: 0;
  }

  .cm-gutters {
    background-color: transparent;
    border: none;
  }

  .cm-line {
    padding: 0 4px;
  }
}
